* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    background-color: #f2f2f2;
    padding: 16px;
    padding-top: 8vh; 
}

#container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 500px;

    position: relative;
    z-index: 1;
}

.accordion {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.accordion-header span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body {
    color: #444;
    font-size: 14px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.accordion-body.active {
    opacity: 1;
    max-height: 1000px; 
}

.arrow {
    transition: transform 0.2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}

.accordion-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin-bottom: 1rem;
}

.accordion-body iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
    display: block;
}

.accordion-body audio {
    display: block;
    margin: 1rem auto; 
}

.intro {
    text-align: center;
    margin-bottom: 32px;
    padding: 0 16px;
    max-width: 600px;
    width: 100%;
    color: #fff;
}

.intro h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 8px;

}

.intro p {
    font-size: 1rem;
}