body{
    background-color: #121216 !important;
}

body, input, button, select, textarea {
    font-family: 'Roboto', sans-serif !important;
}

.index-tittle-text-color{
    color: #b0b0b0;
}

.index-container-text-color{
    color: #b0b0b0;
}

.atividades-accordion-text-color{
    color: #b0b0b0;
}